@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-VariableFont_wdth\,wght.woff2) format('woff2');
}

@font-face {
  font-family: Play-Bold;
  src: url(./fonts/Play-Bold.woff2) format('woff2');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: Play-Bold, Roboto, Arial, Helvetica, sans-serif;
}

:root {
  --main-theme: #74c4f6;
  --darkgray-theme: #444;
  --lightgray-theme: #999;
  --gray-theme: #6c6c6c;
  --pink-theme: #ff647e;
  --white-theme: #f0faff;
  --modal-theme: rgba(38, 99, 137, 0.65);
  --light-blue-theme: #c7eaff;
  --blue-theme: #4cafec;
  --pink-hover-theme: #ffd5dd;
}

body {
  background-color: var(--main-theme)
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.8rem;
  width: 100%;
  height: 100vh;
  margin-top: -2rem;
}

.title {
  font-size: 5.2rem;
  font-weight: 700;
  color: var(--white-theme);
}

.turn {
  font-size: 3.6rem;
  color: var(--white-theme);
}

.board {
  display: none;
  height: 40rem;
  width: 40rem;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.8rem;
  background-color: var(--main-theme);
}

.mode-btn-container {
  translate: 0 6rem;
  height: 40rem;
}

.human-btn,
.robot-btn {
  display: block;
  width: 40rem;
  margin:4rem 0;
  padding: 1.6rem 0;
  font-size: 2.4rem;
  font-weight: 700;
  background-color: var(--main-theme);
  color: var(--white-theme);
  box-shadow:inset 0 0 0 0.4rem var(--white-theme);
}

.human-btn {
  margin:7.6rem 0 0;
}

.human-btn:hover,
.robot-btn:hover {
  color: var(--main-theme);
  background-color: var(--white-theme);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  border: none;
  color: var(--darkgray-theme);
  background: var(--white-theme);
  cursor: pointer;
}

.circle {
  padding-top: 1.8rem;
  font-size: 8.2rem;
  font-weight: 900;
  color: var(--pink-theme);
}

dialog {
  width: 40rem;
  height: 40rem;
  margin: auto;
  padding: 2rem 1.2rem;
  background-color: var(--white-theme);
  border: none;
}

::backdrop {
  background-color: var(--modal-theme);
}

.dialog-human {
  background-color: var(--light-blue-theme);
  position: relative;
}

.dialog-human h2 {
  margin: 2.8rem 0 6.8rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  color: var(--darkgray-theme);
}

.dialog-human p {
  margin: 2.8rem 0;
  padding: 0 1.2rem;
}

.dialog-human label {
  margin-right: 0.8rem;
  font-size: 2.2rem;
  color: var(--darkgray-theme);
}

.dialog-human input {
  width: 20rem;
  padding: 0.2rem 0.2rem 0.2rem 0.4rem;
  font-size: 2rem;
}

.alert {
  display: none;
  position: absolute;
  gap: 0.8rem;
  width: 28.2rem;
  padding: 0.8rem 1.6rem;
  font-size: 1.8rem;
  background-color: #fff;
  border-radius: 0.4rem;
}

.alert::before {
  content: '';
  position: absolute;
  width: 2rem;
  height: 1.4rem;
  background-color: #fff;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.blank-alert-one {
  top: 10rem;
  left: 7.2rem;
}

.blank-alert-two,
.duplicate-alert {
  top: 26.4rem;
  left: 7.2rem;
}

.blank-alert-one::before {
  top: 4rem;
  left: 10rem;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.blank-alert-two::before,
.duplicate-alert::before {
  top: -1.4rem;
  left: 10rem;
}

.alert svg {
  width: 2.4rem;
  fill: orange;
}

.on-alert {
  display: flex;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
  padding: 0 0.8rem;
}

.dialog-human .btn-container {
  margin-top: 7.6rem;
}

.back-btn,
.quit-btn,
.start-btn,
.play-again-btn {
  padding: 1.2rem 2.4rem;
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--white-theme);
  border-radius: 0.4rem;
}

.back-btn,
.quit-btn {
  background-color: var(--gray-theme);
}

.start-btn,
.play-again-btn {
  background-color: var(--blue-theme);
}

.back-btn:hover,
.quit-btn:hover {
  background-color: var(--lightgray-theme);
}

.start-btn:hover,
.play-again-btn:hover {
  background-color: var(--main-theme);
}

.dialog-result form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.sword-container {
  margin: 6rem 0 0.8rem;
}

.sword-container svg {
  width: 3.6rem;
  text-align: center;
  fill: var(--darkgray-theme);
}

.crown-container {
  display: flex;
  justify-content: center;
  gap: 22.6rem;
  width: 100%;
  margin-bottom: -1rem;
}

.player-one-won {
  visibility: hidden;
}

.player-two-won {
  visibility: hidden;
}

.crown-container svg {
  width: 2.8rem;
  fill: rgb(255, 200, 0);
}

.score {
  display: grid;
  grid-template-columns: 1fr 13.2rem 1fr;
  place-items: center;
  width: 100%;
  margin-bottom: 10rem;
  font-size: 4rem;
  color: var(--darkgray-theme);
}

.score span {
  font-size: 2.4rem;
  color: var(--darkgray-theme);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin-top: 6.6rem;
}

.footer a {
  font-size: 1.8rem;
  color: var(--darkgray-theme);
}

.footer a:hover {
  color: var(--light-blue-theme);
}

.footer img {
  width: 2rem;
}

.footer img:hover {
  opacity: 0.5;
}