@font-face {
  font-family: Play-Bold;
  src: url(./fonts/Play-Bold.woff2) format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: Play-Bold, Arial, Helvetica, sans-serif;
}

:root {
  --main-theme: rgba(31, 115, 167, 0.8);
  --blue-theme: rgb(31, 115, 167);
  --lightblue-theme: rgba(240, 250, 255, 0.8);
  --darkblue-theme: rgb(4, 74, 118);
  --gray-theme: #6c6c6c;
  --lightgray-theme: #999;
  --darkgray-theme: #444;
  --white-theme: #f0faff;
  --pure-white-theme: #fff;
  --pink-theme: #ff5d88;
  --gold-theme: #ffc800;
  --orange-theme: #ffa500;
  --modal-theme: rgba(38, 99, 137, 0.65);
}

body {
  background-color: var(--main-theme);
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.8rem;
  width: 100%;
  height: 100vh;
  box-shadow: inset 0 4rem var(--main-theme), inset 0 -4rem var(--main-theme), inset 0 6rem var(--white-theme), inset 0 -6rem var(--white-theme);
}

.title {
  font-size: 5.2rem;
  font-weight: 700;
  color: var(--white-theme);
  margin-top: 2rem;
}

.turn {
  font-size: 3.6rem;
  color: var(--white-theme);
}

.board {
  display: none;
  height: 40rem;
  width: 40rem;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.8rem;
  background-color: var(--main-theme);
}

.mode-btn-container {
  translate: 0 6rem;
  margin-bottom: 16.2rem;
}

.human-btn,
.robot-btn {
  display: block;
  width: 40rem;
  margin:4rem 0;
  padding: 1.6rem 0;
  font-size: 2.4rem;
  font-weight: 700;
  background-color: var(--main-theme);
  color: var(--white-theme);
  box-shadow:inset 0 0 0 0.4rem var(--white-theme);
}

.human-btn:hover,
.robot-btn:hover {
  color: var(--blue-theme);
  background-color: var(--white-theme);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 8rem;
  font-weight: 700;
  color: var(--darkgray-theme);
  background: var(--white-theme);
}

.circle {
  color: var(--pink-theme);
}

dialog {
  width: 40rem;
  height: 40rem;
  margin: auto;
  padding: 2rem 1.2rem;
  background-color: var(--white-theme);
  border: none;
  translate: 0 6.28rem;
}

::backdrop {
  background-color: var(--modal-theme);
}

.dialog-human,
.dialog-robot {
  position: relative;
  background-color: var(--lightblue-theme);
}

.dialog-human h2,
.dialog-robot h2 {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  color: var(--darkgray-theme);
  text-decoration: underline;
}

.dialog-human h2 {
  margin: 2.8rem 0 7.2rem;
}

.dialog-robot h2 {
  margin: 2.8rem 0 6rem;
}

.dialog-human p,
.dialog-robot p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.6rem;
}

.dialog-human p {
  gap: 1.2rem;
  margin: 2rem 0;
  
}

.dialog-robot p {
  gap: 0.8rem;
}

.dialog-human label,
.dialog-robot label {
  font-size: 2.4rem;
  color: var(--darkgray-theme);
}

.dialog-human input,
.dialog-robot input {
  width: 11.2rem;
  padding: 0.2rem 0.2rem 0.2rem 0.4rem;
  font-size: 2rem;
}

.first-radio-row {
  margin: 2.8rem 10.4rem 1.2rem 0;
}

.second-radio-row {
  margin: 0 3rem 5.4rem 0;
}

#player-first,
#robot-first  {
 width: 1.2rem;
 height: 1.2rem;
}

.alert {
  display: none;
  position: absolute;
  left: 6rem;
  gap: 0.8rem;
  width: 28.2rem;
  padding: 0.8rem 1.6rem;
  font-size: 1.8rem;
  background-color: var(--pure-white-theme);
  border-radius: 0.4rem;
}

.alert-blank-one {
  top: 10.4rem;
}

.alert-blank-name,
.alert-robot {
  top: 9.4rem;
}

.alert-blank-two,
.alert-duplicate {
  top: 25.2rem;
}

.alert::before {
  content: '';
  position: absolute;
  left: 16rem;
  width: 2rem;
  height: 1.4rem;
  background-color: var(--pure-white-theme);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.alert-blank-one::before,
.alert-blank-name::before,
.alert-robot::before {
  top: 3.8rem;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.alert-blank-two::before,
.alert-duplicate::before {
  top: -1.2rem;
}

.alert svg {
  width: 2.4rem;
  fill: var(--orange-theme);
}

.on-alert {
  display: flex;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
  padding: 0 1.6rem;
}

.dialog-human .btn-container {
  margin-top: 8.4rem;
}

.back-btn,
.quit-btn,
.start-btn,
.play-again-btn,
.play-btn {
  padding: 1.2rem 2.4rem;
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--white-theme);
  border-radius: 0.4rem;
}

.back-btn,
.quit-btn {
  background-color: var(--gray-theme);
}

.start-btn,
.play-again-btn,
.play-btn {
  background-color: var(--blue-theme);
}

.back-btn:hover,
.quit-btn:hover {
  background-color: var(--darkgray-theme);
}

.start-btn:hover,
.play-again-btn:hover,
.play-btn:hover {
  background-color: var(--darkblue-theme);
}

.dialog-result form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.sword-container {
  margin: 6rem 0 0.8rem;
}

.sword-container svg {
  width: 3.6rem;
  text-align: center;
  fill: var(--darkgray-theme);
}

.crown-container {
  display: flex;
  justify-content: center;
  gap: 22.4rem;
  width: 100%;
  margin-bottom: -1rem;
}

.player-one-won {
  visibility: hidden;
}

.player-two-won {
  visibility: hidden;
}

.crown-container svg {
  width: 2.8rem;
  fill: var(--gold-theme);
}

.score {
  display: grid;
  grid-template-columns: 1fr 13.2rem 1fr;
  place-items: center;
  width: 100%;
  margin-bottom: 10rem;
  font-size: 4rem;
  color: var(--darkgray-theme);
}

.score span {
  font-size: 2.4rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.footer a {
  font-size: 1.6rem;
  color: var(--darkgray-theme);
}

.footer a:hover,
.footer img:hover {
  opacity: 0.65;
}

.footer img {
  width: 1.6rem;
}